body {
  background-image: url("../../../../graphs-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

div.form {
  margin: 0 auto;
  background: rgba(black, 0.5);
  width: 100%;
}

h1.header {
  text-align: center;
  color: whitesmoke;
}
